<html>
    <head>
            <link rel="stylesheet" type="text/css" href="/assets/index.css">
    </head>
        <% include partials/headers.ejs %>
    <body>
        <table>
            <th>Movie</th>
            <th>Rating</th>
            <th>Availablity</th>
        <% for(var i=0; i< mov.length; i++){ %>
            <div>
                <tr>
                       <td><%=mov[i].name %></td> 
                        <td><p><%= mov[i].rating %></p></td>
                        <td><p><%=mov[i].available %></p></td>
                        <td><a href="/movies/<%=mov[i]._id %>/edit">Edit</a></td>
                        <td><a href="/movies/<%=mov[i]._id%>">Show</a></td>
                </tr>
                <% } %>
            </div>
        </table>

    </body>
</html>