<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/assets/index.css">
                    
            
    </head>
        <% include partials/headers.ejs %>
    <body>
    <div class="container">
        <table class="table table-striped"> 
            <thread>
                <th>Movie</th>
                <th>Rating</th>
                <th>Availablity</th>
                <th>Edit</th>
                <th>Show</th>
            </thread>
        <% for(var i=0; i< mov.length; i++){ %>
           <tbody>
                <tr>
                       <td><%=mov[i].name %></td> 
                        <td><p><%= mov[i].rating %></p></td>
                        <td><p><%=mov[i].available %></p></td>
                        <td><a href="/movies/<%=mov[i]._id %>/edit">Edit</a></td>
                        <td><a href="/movies/<%=mov[i]._id%>">Show</a></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        </div>
    </body>
</html>