<html>
    <head>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
            <link rel="stylesheet" type="text/css" href="/assets/index.css">
    </head>
        <% include partials/headers.ejs %>
    <body>
        <div class="container">
            <div class="well well-lg">
                <h1>Movie Name: <%=mov.name%></h1>
                <p>Rating: <%=mov.rating%></p>
                <span><p>Genre: <%=mov.genre%></p></span>
                <P>Amount<%=mov.amount%></P>
                <form action="/movies/<%=mov._id%>?_method=DELETE" method="POST">
                    <button>Delete</button>
                </form>
            </div>
        </div>
        
    </body>
</html>